* {
    margin: 0;
    padding: 0;
}
html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
@media screen and (min-width: 400px){
    
}
body{
    overflow: hidden;
    background-color: black;
    background-image: url("../assets/fundo_pagina2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    display: flex;
    flex-direction: column;
    width: 380px;    
    background-color: #e0e0e0;
    box-shadow: 0px 20px 40px #000000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);     
    padding: 30px;
    border-radius: 20px;
}
h1{
    font-family: 'Aladin', cursive;
    font-size: 4.3em;
    text-align: center;
    color: #313131;  
    margin-bottom: -15px; 
}
h2{
    font-family: 'Teko', sans-serif;
    font-size: 1.3em;
    text-align: right;
    color: #313131;
    margin-bottom: 15px;          
}
input{
    font-size: 1em;
    height: 35px;
    border-style: none;
    box-sizing: border-box;
    display: block;
    margin: auto;
    margin-bottom: 12px;
    padding: 5px;
    width: 100%;
}
.botoes{
    margin-top: 15px;    
    display: flex;
    justify-content: space-between;
}
button{
    border-radius: 5px;
    background-color: #ffffff;      
    border-style: none;
    cursor: pointer;    
    font-size: 1em;
    height: 40px;
    width: 160px;    
    transition: background-color 200ms;
}
button:hover{    
    border-radius: 5px;
    background-color: #e9e9e9;
    box-shadow: 0px 0px 3px #525252;    
    border:2.5px solid #ffffff;   
    cursor: pointer;    
    font-size: 1em;
    height: 40px;
    width: 160px;    
}
#resultado{
    text-align: center;
    font-size: 1.1em;
}
#links{
    display: flex;  
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);    
}
#GH{
    margin-right: 10px;
    height: 2em;
}
#LKD{
    margin-left: 10px;
    height: 2em;
}
#rodape{
    display: flex;
    position: fixed;
    text-align: center;
    top: 94%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.6em;
    flex-direction: column;
    color: rgb(95, 95, 95);     
}
