* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body{
    overflow: hidden;
    background-color: black;
    background-image: url("./assets/fundo_pagina2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container{
    display: flex;
    align-content: space-between;
    flex-direction: column;
    background-color: #e0e0e0;
    box-shadow: 0px 20px 40px #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
}
h1{
    font-family: 'Aladin', cursive;
    font-size: 4rem;
    text-align: center;
    color: #313131;  
    margin-bottom: -15px; 
}
h2{
    font-family: 'Teko', sans-serif;
    font-size: 1.3rem;
    text-align: right;
    color: #313131;
    margin-bottom: 15px;          
}
input{
    font-size: 1rem;
    height: 35px;
    border-style: none;
    box-sizing: border-box;
    display: block;
    margin: auto;
    margin-bottom: 12px;
    padding: 5px;
    width: 100%;
}
.botoes{
    margin-top: 15px;    
    display: flex;
    justify-content: space-between;
}
button{
    border-radius: 5px;
    background-color: #ffffff;      
    border-style: none;
    cursor: pointer;    
    font-size: 1rem;
    height: 40px;
    width: 160px;
}
button:hover{    
    border-radius: 5px;
    background-color: #e77979;
    box-shadow: 0px 0px 4px #332f2f;    
    border-style:none;    
    cursor: pointer;    
    font-size: 1rem;
    height: 40px;
    width: 160px;
}
.links{
    display: flex;
    justify-content: space-between;
    width: 4.5%;
    height: auto;       
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
}
#GH{
    height: 2rem;
}
#LKD{
    height: 2rem;
}
#rodape{   
    font-size: 0.7rem;
    color: rgb(95, 95, 95);      
    position: absolute;
    top: 94%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
}
#rodape2{   
    font-size: 0.7rem;
    color: rgb(95, 95, 95);      
    position: absolute;
    top: 96%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
}